.add-coach {
    margin-top: 70px;
    background-color: #efefeb;
}

h1.header-coach-title {
    padding: 64px 0;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid #3f1414;

}

.container {
    max-width: 1210px;
    padding-top: 40px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #fff;
}

.bt-content-wrap {
    width: 70%;
    max-width: 70%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 72%;
    margin-bottom: 30px;
}

.agent-list-wrap {
    padding: 30px;
    background-color: #fff;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    /* line-height: 40px; */
}

.agent-list-wrap .agent-list-image {
    max-height: 240px;
    overflow: hidden;
}

.agent-list-wrap .agent-list-image {
    margin-right: 30px;
    max-width: 240px;
}

img {
    max-width: 85%;
    height: auto;
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.rating-score-wrap {
    padding-left: 10px;
}

h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    white-space: nowrap;
    margin-right: 5px;
}

.star .fa-solid {
    width: 14px;
    height: 14px;
    margin-right: 1px;
    background-size: 14px;
    color: gold;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.agent-list-wrap .agent-list-contact li {
    clear: both;
    border-bottom: 1px solid #dce0e0;
    line-height: 30px;
}

strong {
    font-weight: 600;
}

a {
    float: right;
    color: #222222;
}

i.fa-brands {
    font-size: 30px;
    padding: 0 5px;
}

img.member-img {
    height: 272px;
}